@model bacit_dotnet.MVC.Models.UsersModel
<head>
    <link rel="stylesheet" href="~/css/add.css" asp-append-version="true" />
</head>

<div class="lageforslag">
    <input type="button" value="Tilbake" class= "button-back" onclick="history.go(-1);" />

    <form action="/suggestions/save" method="post">
        <ul style="list-style: none;">
            <li>
                <input required="required" type="text" name="Sug_Overskrift" placeholder="Tittel" class="nytittel"/> 
            </li><br>

            <div class="inputsAddSug">
                <li>
                    <label class="smalltext" for="Sug_Beskrivelse">Hva går forslaget ut på? </label> <br>
                    <textarea required="required"  type="text" name="Sug_Beskrivelse" placeholder="Beskriv forslag her..." class="nybeskrivelse"></textarea> 
                </li><br>
            

                <li>
                    <label class="smalltext" for="Emp_Nr">Hvem sitt forslag var det?</label> <br>
                    <select class=nyproposer multiple id="DropDownList1" name="Emp_Nr" required> 
                        @foreach (var user in Model.Users){
                                <option value= "@user.Emp_Nr">@user.Emp_Navn</option>
                        }
                    </select>
                </li>
                <br>
                <li>
                    <label class="smalltext"for="Executor_Nr">Hvem utførte forslaget?</label> <br>
                    <select class=nyexecutor multiple id="DropDownList2" name="Executor_Nr" required> 
                        @foreach (var user in Model.Users){
                            <option value= "@user.Executor_Nr">@user.Emp_Navn</option>
                        }
                    </select>
                </li>
                <br> 
                <li>
                    <label class="smalltext" for="Sug_Ansvarlig">Hvem er ansvarlig for at dette blir gjort?</label> <br>
                    <input class=nyansvarlig required="required" type="text" name="Sug_Ansvarlig" placeholder="Forslagsansvarlig" />
                </li>
                <br><br> 
                <li>
                    <select class=nystatus name="Sug_Status" required> 
                    <option value="">Status</option>
                    <option value="plan" class="plan">PLAN</option> 
                    <option value="do" class="do">DO</option>
                    <option value="study" class="study">STUDY</option>
                    <option value="act" class="act">ACT</option>
                    </select>
                </li>
                <br>
                <li>
                    <input class=nyfrist required="required" type="text" name="Sug_Frist" placeholder="Frist" />
                </li>
                <br>
                <li>
                    <label class="smalltext" for="Sug_Varighet">Hva er varigheten på forslaget?</label> <br>
                    <input type="radio" name="Sug_Varighet" value="Kortsiktig"/>
                    <label class="smalltext" for="kortsiktig">Kortsiktig </label> <br>
                    <input type="radio" name="Sug_Varighet" value="Langsiktig" />
                    <label class="smalltext" for="langsiktig">Langsiktig</label> <br>
                </li>
                <br>
                <li>
                    <label class="smalltext" for="Vedlegg_En">Førbilde</label> <br>
                    <input class=nyførbilde type="file" name="Vedlegg_En"
                    accept="image/png, image/jpeg"/>
                </li>
                <br>
                <li>
                    <label class="smalltext" for="Vedlegg_To">Etterbilde</label> <br>
                    <input class=nyetterbilde type="file" name="Vedlegg_To" 
                    accept="image/png, image/jpeg"/>
                </li>
                <li>
                    <input type="submit" value="Send inn" class="sendinn"/>
                </li>
                <br>
            </div>
        </ul>
    </form> 
</div>