@model bacit_dotnet.MVC.Models.SuggestionsModel

<style>
    .forslagsliste{
        border: none; 
        margin: 20px; 
        box-shadow: 5px 10px 18px #888888; 
        border-radius: 10px; 
        padding: 5px;
    }
    .sidemeny {
        width: 250px;
        position: fixed;
        top: 150px;
        left: 25px;
        padding: 8px 0;
    }
    .alleforslag{
        list-style: none;
        margin-left: 10%;
    }
    .knapper {
        margin: 1%;
        border-width: 1px;
        border-radius: 4px;
        font-size: medium;
        background-color: white;
        transition-duration: 0,4s;
        cursor: pointer;
        position: relative;
        left: 920px;
        
    }
    .knapper2:hover {
        background-color: #FF5C5C;
        color: white;
        border-color: #FF5C5C;
        
    }
      .knapper1:hover {
        background-color: #7D7DFF;
        color: white;
        border-color: #7D7DFF;
        
    }

    .plan {
    background: #f5ebad;
    }
    .do {
    background: #b3f5ad;
    }
    .study {
    background: #f9e4ed;
    }
    .act{
    background: #add1f5;
    }
   
</style>
    <div class="sidemeny">
        <input type="text" placeholder="Søk" style="height:50px;">
        <p>Status</p>
            <input type="checkbox" id="plan" name="plan" value="Plan">
            <label for="plan"> Plan</label><br>
            <input type="checkbox" id="do" name="do" value="Do">
            <label for="do"> Do</label><br>
            <input type="checkbox" id="study" name="study" value="Study">
            <label for="study"> Study</label><br>
            <input type="checkbox" id="act" name="act" value="Act">
            <label for="act"> Act</label> <br> <br>



        <p>Frist</p>
            <input type="date">
    </div>


    <ul class="alleforslag">
        <p>Månedens forslag</p>
        <p>Alle forslag</p>
        @foreach (var user in Model.suggestions) 
        {
            <div class="forslagsliste" onclick="location.href='Save?id=@user.Sug_ID';" style="cursor: pointer;"> 
                <p class="@user.Sug_Status">Status: @user.Sug_Status</p>

                <h5> @user.Sug_Overskrift</h5>
                <p>Frist: @user.Sug_Frist</p>
            </div> 
            // location.href='save' gjør classen "clickable" så du sendes videre til "savecshtml"
        } 
    </ul>

