<form action="/suggestions/save" method="post">
<ul style="list-style: none;">
    <li>
<label for="Sug_Overskrift">Overskrift &ensp;&nbsp;</label>
<input type="text" name="Sug_Overskrift" />
</li>
<li>
<label for="Sug_Beskrivelse">Beskrivelse &nbsp;</label>
<input type="text" name="Sug_Beskrivelse" />
</li>
<li>
<label for="Sug_Ansvarlig">Ansvarlig &emsp;</label>
<input type="text" name="Sug_Ansvarlig" />
</li>
<li>
<label for="Sug_Status">Status &nbsp;&emsp;&emsp;</label>
<select name="Sug_Status"> 
   <option value="plan">Plan</option> 
   <option value="do">Do</option>
   <option value="study">Study</option>
   <option value="act">Act</option>
</select>
</li>
<li>
<label for="Sug_Frist">Frist &emsp;&emsp;&emsp;</label>
<input type="text" name="Sug_Frist" />
</li>
<li>
<label for="Sug_Varighet">Varighet</label> <br>
<input type="radio" name="Sug_Varighet" id="kortsiktig" value="Kortsiktig" />
<label for="kortsiktig">Kortsiktig </label> <br>
<input type="radio" name="Sug_Varighet" id="langsiktig" value="Langsiktig" />
<label for="langsiktig">Langsiktig</label> <br>
</li>
<li>
<label for="Sug_VedleggEn">Før-bilde 'Denne må fikses'&emsp;</label>
<input type="byte" name="Sug_VedleggEn" />
</li>
<li>
<label for="Sug_VedleggTo">Etter-Bilde 'denne må fikses' &emsp;</label>
<input type="byte" name="Sug_VedleggTo" />
</li>
<li>
<input type="submit" value="Send inn" />
</li>
</ul>
</form> 

<form action="/Home/MitTeam" method="post"> 
    <input type="submit" value="Lagre Utkast" />
</form>

