<style> 
    .lageforslag {
        border: 1px solid black;
        padding: 50px;
        column-count: 2;

  
    }
    .tittel {
        border: none;
        border-bottom: 1px solid black;
        font-size: 30px;
        text-align: center;
        column-span: all;
    }

</style>

<div class="lageforslag">
<form action="/suggestions/save" method="post">
<ul style="list-style: none;">
    <li>
        <input required="required" type="text" name="Sug_Overskrift" placeholder="Tittel" class="tittel"/>
    </li>
    <li>
        <label for="Sug_Beskrivelse">Hva går forslaget ut på? </label> <br>
        <input required="required"  type="text" name="Sug_Beskrivelse" placeholder="Beskriv forslag her..."/>
    </li>
    <li>
        <label for="Sug_Ansvarlig">Hvem er ansvarlig for at dette blir gjort?</label> <br>
        <input required="required" type="text" name="Sug_Ansvarlig" placeholder="Forslagsansvarlig" />
    </li>
    <li>
        <label for="Sug_Status">Status for forslaget</label> <br>
        <select name="Sug_Status" required> 
        <option value="">None</option>
        <option value="plan">Plan</option> 
        <option value="do">Do</option>
        <option value="study">Study</option>
        <option value="act">Act</option>
        </select>
    </li>
    <li>
        <label for="Sug_Frist">Når skal dette være gjort?</label> <br>
        <input required="required" type="text" name="Sug_Frist" placeholder="Frist" />
    </li>
    <li>
        <label for="Sug_Varighet">Hva er varigheten på forslaget?</label> <br>
        <input type="radio" name="Sug_Varighet" id="kortsiktig" value="Kortsiktig"/>
        <label for="kortsiktig">Kortsiktig </label> <br>
        <input type="radio" name="Sug_Varighet" id="langsiktig" value="Langsiktig" />
        <label for="langsiktig">Langsiktig</label> <br>
    </li>
    <li>
        <label for="Sug_VedleggEn">Før-bilde 'Denne må fikses'</label> <br>
        <input type="byte" name="Sug_VedleggEn" />
    </li>
    <li>
        <label for="Sug_VedleggTo">Etter-Bilde 'denne må fikses'</label> <br>
        <input type="byte" name="Sug_VedleggTo" />
    </li>
    <li>
        <input type="submit" value="Send inn" />
    </li>
</ul>
</form> 

<form action="/Home/MitTeam" method="post"> 
    <input type="submit" value="Lagre Utkast" />
</form>

</div>
