<form action="/suggestions/save" method="post">
<ul style="list-style: none;">
    <li>
<label for="For_Overskrift">Overskrift</label>
<input type="text" name="For_Overskrift" />
</li>
<li>
<label for="For_Beskrivelse">Beskrivelse</label>
<input type="text" name="For_Beskrivelse" />
</li>
<li>
<label for="For_Ansvarlig">Ansvarlig</label>
<input type="text" name="For_Ansvarlig" />
</li>
<li>
<label for="For_Status">Status</label>
<select name="For_Status"> 
   <option value="plan">Plan</option> 
   <option value="do">Do</option>
   <option value="study">Study</option>
   <option value="act">Act</option>
</select>
</li>
<li>
<label for="For_Frist">Frist</label>
<input type="text" name="For_Frist" />
</li>
<li>
<label for="For_Varighet">Varighet</label> <br>
<input type="radio" name="For_Varighet" id="kortsiktig" value="Kortsiktig" />
<label for="kortsiktig">Kortsiktig</label> <br>
<input type="radio" name="For_Varighet" id="langsiktig" value="Langsiktig" />
<label for="langsiktig">Langsiktig</label> <br>
</li>
<li>
<input type="submit" value="Send inn" />
</li>
</ul>
</form> 