<html>
                            <head>
                            <title>BACIT</title>    
                            </head>
                            <body><h1>Alle forslag</h1>
                            </body> 
                            </html>