@{
    Layout = null;
}


<style>

body {
   background-image: url(https://iili.io/D4zAa2.jpg); 
   font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
   
}


.loginbox{
    background-color: rgba(255, 255, 255, 0.7);
    width:30%;
    height: 65%;
    text-align: center;
    margin: auto;
    margin-top: 12%;
    border-radius: 10px;
    padding: 1px;
}
.Logginnknapp {
    border-radius: 5px;
    padding: 17px;
    border: 1px solid #939393;
    text-decoration: none;
    color: #525252;
    margin-left: 200px;
}
input, textarea{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #525252;
    background-color: rgba(0, 0, 0, 0);
    height: 50px;
    width: 300px;
    margin: 20px;
    font-size: 17px;
}

h1 {
   font-weight: lighter;
   letter-spacing: 0.8px;
}

img {
    margin-top: 100px;
    margin-bottom: -10%;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;

    
}

.AdminKnapp
{
   font-weight: lighter;
    text-align: center;
    text-decoration: underline;
    color: #525252;
   

   
}

</style>

<body>

<img src = https://i.ibb.co/Mgh9Dmt/313027208-869242507786144-6358054496859556959-n.png> 

    <div class="loginbox">
        <br><h1>Logg inn</h1>
        <input type="text" placeholder="Ansattnummer" class="input"> <br>
        <input type="password" placeholder="Passord" class="input"> <br><br><br>
        <a href="/Suggestions/ViewSug" class="Logginnknapp">Logg inn</a> <br><br><br><br><br><br>
         <a href="" class="AdminKnapp">Administratortilgang</a>
       
    </div>

   

  

</body>
