
<style>
.instillinger {
    border-top: 1px solid #878787;
    border-bottom: 1px solid #878787;
    border-left: none;
    border-right: none;
    margin-top: 0px;
    background-color: white;
    width: 400px;
    font-size: large;
    text-align: left;
    height: 50px;

}

 .sendinn{
        padding: 15px;
        background-color: #717e74;
        border-radius: 5px;
        color: white;
        border: none;
        width: 180px;
        float: right;
        text-align: center;
        text-decoration: none;
    }
.sendinn:hover{
        
        background-color: #5F6961;
        color: white;
    }
.profilbilde {
    border: 3px solid #878787;
    border-radius: 50%;
    height: 400px;
    width: 400px;

}

.alt {
    column-count: 2;
    width: 70%;
    margin: auto;
    margin-top: 100px;
}

</style>

<div class="alt">
<div class="profilbilde"></div>

<div class="instillingertekst">
    <ul style="list-style: none;">
        <li>
            <h1>Ansattnavn</h1>
        </li> <br>
        <li>
            <input type="button" value="Profilinformasjon" class="instillinger"/>
        </li>
        <li>
            <input type="button" value="Min statistikk" class="instillinger"/>
        </li>
        <li>
            <input type="button" value="Varsler og lyd" class="instillinger"/>
        </li>
        <li>
            <input type="button" value="Passord" class="instillinger"/>
        </li>
        <li>
            <input type="button" value="Hjelp" class="instillinger"/>
        </li> <br> <br>
        <li>
            <a  class="sendinn" asp-area="" asp-controller="Home" asp-action="Index">Logg ut</a>
        </li>
    </ul>
</div>
</div>