
<head>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
</head>

<div class="minprofil">
<div class="profilbilde"></div>

<div class="instillingertekst">
    <ul class="noliststyle">
        <li>
            <h1>Ansattnavn</h1>
        </li> <br>
        <li>
            <input type="button" value="Profilinformasjon" class="instillinger"/>
        </li>
        <li>
            <input type="button" value="Min statistikk" class="instillinger"/>
        </li>
        <li>
            <input type="button" value="Varsler og lyd" class="instillinger"/>
        </li>
        <li>
            <input type="button" value="Passord" class="instillinger"/>
        </li>
        <li>
            <input type="button" value="Hjelp" class="instillinger"/>
        </li> <br> <br>
        <li>
            <a class="loggut" asp-controller="Home" asp-action="Index">Logg ut</a>
        </li>
    </ul>
</div>
</div>