<head>
    <link rel="stylesheet" href="~/css/add.css" asp-append-version="true" />
</head>

<div class="bakgrunnNyEmpTea">
    <input type="button" value="Tilbake" class= "button-back" onclick="history.go(-1);" />

    <form action="/Users/Save" method="post">
        <ul style="list-style: none;">
                <li class="NyEmpTeamInputs">
                    <p class="nyempnr">Ansattnummer</p>
                    <input class=input required="required" type="number" name="Emp_Nr" placeholder="Ansattnummer"/> 
                </li>
                <br>
                <li class="NyEmpTeamInputs">
                    <p class="nyempnavn">Ansattnavn</p>
                    <input class=input required="required" type="text" name="Emp_Navn" placeholder="Navn"/> 
                </li>
                <br>
                <li class="NyEmpTeamInputs">
                    <p class="nyemppassord">Passord</p>
                    <input class=input required="required" type="password" name="Emp_Passord" placeholder="Passord"/> 
                </li>
                <br>
                
                <input type="submit" value="Opprett ansatt" class="sendinn sendinnEmpTea"/>
        </ul>
    </form> 
</div>
