<div>
    <input type="button" value="Tilbake" class= "button-back" onclick="history.go(-1);" />

    <form action="/Users/Save" method="post">
        <ul style="list-style: none;">
                <li>
                    <input required="required" type="number" name="Emp_Nr" placeholder="Ansattnummer" class="ansattnummer"/> 
                </li><br>
                <li>
                    <input required="required" type="text" name="Emp_Navn" placeholder="Navn" class="ansattnavn"/> 
                </li><br>
                <li>
                    <input required="required" type="password" name="Emp_Passord" placeholder="Passord" class="ansattpassord"/> 
                </li><br>
                
                <input type="submit" value="Send inn" class="sendinn"/>
        </ul>
    </form> 

</div>
