@model bacit_dotnet.MVC.Models.UsersModel
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
        <div class="sidemeny">
            <input type="text" placeholder="Søk" class="søk"> <br><br>
            <p>Sorter etter</p>
            <select class="sorteretter"> 
                <option>Alfabetisk A-Å</option> 
                <option>Mest utførte forslag</option>
                <option>Minst utførte forslag</option>
                <option>Mest sendte inn forslag</option>
                <option>Minst sendte inn forslag</option>    
            </select>
            <li class="nyKnapp">
                <a href="/Users/AddEmp" class="nyknapp">Legg til ny ansatt</a>
            </li>
        </div>

        <ul class="alleliste">
            
            @foreach (var user in Model.Users)
            {
            <li>
                <div class="ansattliste" onclick="location.href='Save?id=@user.Emp_Nr';" style="cursor: pointer;"> 
                    <p class="ansattnavn">@user.Emp_Navn</p> 
                    <p class="gåinn"> > </p>       
                </div>
            </li>   
            }
        </ul>
 
  