@model bacit_dotnet.MVC.Models.UsersModel

<head>
    <link rel="stylesheet" href="~/css/view.css" asp-append-version="true" />
</head>

@foreach(var users in Model.Users){
<div class="EttTeaEmp"> 
    <input type="button" value="Tilbake" class= "button-back" onclick="history.go(-1);" />
    <h3><b>@users.Emp_Navn</b></h3>
    <p><div class= "litenInfo"> Ansattnummer: @users.Emp_Nr </div></p>



    <div class="profilbilde"></div>

    <div class="BoksKnapper">
        <div class="BoksKnapp" ><a class="BoksKnappTxt">SE ANSATTSTATISTIKK</a></div>
        <div class="BoksKnapp" ><a class="BoksKnappTxt">BYTT TEAM</a></div>
        <div class="BoksKnapp" ><a class="BoksKnappTxt" href="/Users/Edit?id=@users.Emp_Nr" >REDIGER ANSATT</a></div>
        <div class="BoksKnapp" ><a class="BoksKnappTxt" href="/Users/Delete?id=@users.Emp_Nr" >SLETT ANSATT</a></div>   
    </div>
</div>  
}

 
