@model bacit_dotnet.MVC.Models.UsersModel

<head>
    <link rel="stylesheet" href="~/css/view.css" asp-append-version="true" />
</head>

@foreach(var users in Model.Users){
<div class="EttTeaEmp"> 
    <input type="button" value="Tilbake" class= "button-back" onclick="history.go(-1);" />
    <h3><b>@users.Emp_Navn</b></h3>
    <p><div class= "litenInfo"> Ansattnummer: @users.Emp_Nr </div></p>



    <div class="profilbilde"></div>

    <div class="BoksKnapper">
        <div class="BoksKnapp" >
            <a class="BoksKnappTxt">
                <img class="statIcon" src="https://icon-library.com/images/statistics-icon-png/statistics-icon-png-1.jpg">
            <br> SE ANSATTSTATISTIKK</a></div>
        <div class="BoksKnapp" >
            <a class="BoksKnappTxt">
                <img class="newMembIcon" src="https://cdn3.iconfinder.com/data/icons/thin-outline-ui-part-2-of-4/100/pack4-17-512.png">
            <br> BYTT TEAM</a>
        </div>
        <div class="BoksKnapp" >
            <a class="BoksKnappTxt" href="/Users/Edit?id=@users.Emp_Nr">
                <img class="editIcon" src="https://icons.veryicon.com/png/o/education-technology/onemind/edit-97.png">
            <br> REDIGER ANSATT</a>
        </div>
        <div class="BoksKnapp" >
            <a class="BoksKnappTxt" href="/Users/Delete?id=@users.Emp_Nr" >
                <img class="binIcon" src="https://cdn1.iconfinder.com/data/icons/hawcons/32/699013-icon-27-trash-can-512.png">
            <br> SLETT ANSATT</a>
        </div>   
    </div>
    
</div>  
}

 
