@model bacit_dotnet.MVC.Models.UsersModel

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
        <div class="sidemeny">
            <input type="text" placeholder="Søk" class="søk"> <br><br>
            
             <p class="Sorter">Sorter forslag etter:</p>
            <div class="proexeSlide">
                <div class="lysSlide" ><a class="lysSlideTekst" asp-area="" asp-controller="Stat" asp-action="ViewStatEmpEx">Utførte</a></div>
                <div class="mørkSlide"><a class="mørkSlideTekst" asp-area="" asp-controller="Stat" asp-action="ViewStatEmpPr">Sendt inn</a></div>
            </div>
        </div>

        <ul class="alleliste">
            <div class="ansatteamSlide">
                <div class="lysSlide" ><a class="lysSlideTekst" asp-area="" asp-controller="Stat" asp-action="ViewStatTeamEx">Team</a></div>
                <div class="mørkSlide" ><a class="mørkSlideTekst" asp-area="" asp-controller="Stat" asp-action="ViewStatEmpEx">Ansatte</a></div>
            </div>

            @foreach (var user in Model.Users)
            {
            <li>
                <div class="statliste" style="cursor: pointer;"> 
                    <h5>@user.Emp_Navn</h5>
                    <p><b class="statantall">@user.Antall_Pr_Forslag</b> <b class="statantallTekst">FORSLAG SENDT INN</b></p>

                </div>
            </li>   
            }
        </ul>