@model bacit_dotnet.MVC.Models.UsersModel
<head>
    <link rel="stylesheet" href="~/css/add.css" asp-append-version="true" />
</head>

<div class="bakgrunnNyEmpTea">
    <input type="button" value="Tilbake" class= "button-back" onclick="history.go(-1);" /> 
    
    <form action="/Teams/Save" method="post">
            <li class="NyEmpTeamInputs">
                <p class="nyempnr">Teamnavn</p>
                <input class=input required="required" type="text" name="Team_Navn" placeholder="Teamnavn"/> 
            </li>
            <br>
            <li class="NyEmpTeamInputs">
                <p class="nyempnavn">Teamleder</p>
                <input class=input required="required" type="text" name="Team_Leder" placeholder="Teamleder"/> 
            </li>
            <br>
                
            <input type="submit" value="Opprett team" class="sendinn sendinnEmpTea"/> 
    </form> 
</div>
