@model bacit_dotnet.MVC.Models.TeamsModel
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
        <div class="sidemeny">
            <input type="text" placeholder="Søk" class="søk"> <br><br>
            <p>Sorter etter</p>
            <select class="sorteretter"> 
                <option>Alfabetisk A-Å</option> 
                <option>Mest utførte forslag</option>
                <option>Minst utførte forslag</option>
                <option>Mest sendte inn forslag</option>
                <option>Minst sendte inn forslag</option>    
            </select>
            <li class="nyKnapp">
                <a href="/Teams/AddTeam" class="nyknapp">Legg til nytt team</a>
            </li>
        </div>

        <ul class="alleliste">          
            @foreach (var user in Model.Teams)
            {
            <li>
                <div class="teamliste" onclick="location.href='Save?id=@user.Team_ID';" style="cursor: pointer;">
                    <h5>Team @user.Team_Navn</h5>
                    <p class="teamleder">Teamleder: @user.Team_Leder</p>
                    <p class="medlemmer"><b class="antmedlemmer"> @user.Antall_Medlemmer</b><br> <div class="antallTekst">MEDLEMMER</div></p>
                    <p class="gåinn"> > </p>
                </div>
            </li>   
            }
        </ul>