@model bacit_dotnet.MVC.Models.TeamsModel
<head>
    <link rel="stylesheet" href="~/css/add.css" asp-append-version="true" />
</head>


<div class="bakgrunnNyEmpTea">
   <input type="button" value="Tilbake" class= "button-back" onclick="history.go(-1);" /> 

  @foreach(var User in Model.Teams){
    <form action="/Teams/Update" method="post">
      <ul style="list-style: none;">
          <input required="required" type="hidden" name="Team_ID" value=@User.Team_ID /> 
          <li class="NyEmpTeamInputs">
              <p class="nyempnr">Teamnavn</p>
              <input class=input required="required" type="text" name="Team_Navn" value="@User.Team_Navn"/> 
          </li>
          <br>
          <li class="NyEmpTeamInputs">
              <p class="nyempnavn">Teamleder</p>
              <input class=input required="required" type="text" name="Team_Leder" value="@User.Team_Leder"/> 
          </li>
          <br>
                
          <input type="submit" value="Oppdater team" class="sendinn sendinnEmpTea"/> 
      </ul>
    </form>
    }
</div>