@model dynamic

<head>
    <link rel="stylesheet" href="~/css/add.css" asp-append-version="true" />
</head>

<div class="bakgrunnNyEmpTea">

    <h5> Fjern medlemmer fra dette teamet </h5>
    <p>Medlemmer:</p>

    <div>
            @foreach (var users in Model.Users){
                <div class="medlemmer" value="@users.Emp_Nr?"> 
                    <a class="fjernKnapp" href="/Teams/DeleteMemb?id=@users.Emp_Nr" >Fjern</a> @users.Emp_Navn
                </div>  
            }    
    </div>
</div>