@model bacit_dotnet.MVC.Models.TeamsModel
<style>
    .enkeltteam{
        border: none;
        padding: 50px;
        width: 60%;
        margin: auto;
        border-radius: 10px;
        box-shadow: 5px 10px 18px #888888; 
    }
    .teamknapp {
        width: 130px;
        height: 130px;
        border: 1px solid #878787;
        background-color: white;
    }
    .teamknapper {
        column-count: 2;
        width: 260px;
        column-gap: 0;
        font-size: 10px;
    }
    .button-back {
       font-size: 17px;
       background-color: white;
       border-radius: 20px;
       border: none;
       position:relative;
       margin-left: 90%;
  }
</style>
@foreach (var user in Model.Teams){
<div class="enkeltteam"> 
    <input type="button" value="Tilbake" class= "button-back" onclick="history.go(-1);" />

    <h3><b>@user.Team_Navn</b></h3>
    <p> Teamleder: @user.Team_Leder</p>

    <div class="teamknapper">
        <a type="button" class="teamknapp">Se ansattstatistikk</a>
        <a type="button" class="teamknapp">Bytt team</a>
        <a href="/Teams/Edit?id=@user.Team_ID" type="button" class="teamknapp">Rediger ansatt</a>
        <a type="button" href="/Teams/Delete?id=@user.Team_ID"class="teamknapp">Slett team</a>
         
    </div>
</div> }