@model dynamic

<head>
    <link rel="stylesheet" href="~/css/view.css" asp-append-version="true" />
</head>

<div class="EttTeaEmp"> 
    <input type="button" value="Tilbake" class= "button-back" onclick="history.go(-1);" />
    <div class="EttTeaEmpKol">
        @foreach (var user in Model.Teams){
            <h3><b>Team @user.Team_Navn</b></h3>
            <p> Teamleder: @user.Team_Leder</p>

        <div class="BoksKnapper">
        <div class="BoksKnapp" ><a class="BoksKnappTxt">SE ANSATTSTATISTIKK</a></div>
        <div class="BoksKnapp" ><a class="BoksKnappTxt" href="/Teams/AddMember?id=@user.Team_ID">LEGG TIL MEDLEMMER</a></div>
        <div class="BoksKnapp" ><a class="BoksKnappTxt" href="/Teams/Edit?id=@user.Team_ID" >REDIGER TEAM</a></div>
        <div class="BoksKnapp" ><a class="BoksKnappTxt" href="/Teams/Delete?id=@user.Team_ID" >SLETT TEAM</a></div>
         
    </div>

        }
        <br> <br> <p>Medlemmer:</p>
        <div class="scrollMedlem">
            @foreach (var users in Model.Users){
                    <div class="medlemliste" value="@users.Emp_Nr"> @users.Emp_Navn</div>  
            }
        </div>
        
         @foreach(var user in Model.Teams){
        <a class="fjernMedl" href="/Teams/EditMemb?id=@user.Team_ID" >Fjern medlemmer</a>
        }
     

</div> 



