<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - bacit_dotnet.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bacit_dotnet.MVC.styles.css" asp-append-version="true" />
    
</head>
<body>
    <header>
        <style>
                #knapp {
                    background-color: white;
                    border-radius: 5%;
                    border-width: 2px;
                    border-color: black;
                    position: sticky;
                    top: 0;
                }

              .border-top {
                    border-top: 1px solid #e5e5e5;
                    }
              .border-bottom {
                    border-bottom: 1px solid #e5e5e5;
                    padding: 3%;
                    

                    }
               .box-shadow {
                    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);

               }
                #meny {
                    width: 100%;
                    font-size: large;

                    
                }

                #meny:hover {
                   text-decoration: underline;
                }

                #nordic {
                    margin-left: 20%; /* css til Nordicdoor */
                    margin-right: 20%;
                }
                #minprof {
                    top:10%;
                    left:65%;
                    width:100px;
                    height:45px;
                    position: absolute; /* css til minprofil knapp */
                    z-index: 2;
                 }
                #minprof:hover {
                    text-decoration: underline; /* css til minprofil knapp */
                } 
                
        </style>
        
        
        <nav  class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a id="meny" class="nav-link text-dark" asp-area="" asp-controller="Suggestions" asp-action="ViewSug">Alle forslag</a>
                        </li>
                        <li class="nav-item">
                            <a id="meny" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MitTeam">Mitt team</a>
                        </li>
                        <li class="nav-item">
                            <a id="meny" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Stat">Statistikk</a>
                        </li>
                        <a id="nordic" class="navbar-brand" asp-area="" asp-controller="Suggestions" asp-action="ViewSug">NordicDoor</a> 
                <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                        </li> 
                        <li  class="nav-item">
                            <a id="minprof" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MinProf">Min profil</a>
                        </li>
                        <li  class="nav-item">
                            <button id="knapp"><a class="nav-link text-dark" asp-area="" asp-controller="suggestions" asp-action="">Legg til forslag</a></button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - NordicDoor - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>