<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - bacit_dotnet.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bacit_dotnet.MVC.styles.css" asp-append-version="true" />
    
</head>
<body>
    <header>
        <style>
                #knapp {
                    background-color: white;
                    border-radius: 5px;
                    border: 2px solid #adadad;
                    position: absolute;
                    top: 44%;
                    left: 86%;
                    width: 170px;
                    height: 57px;                  
                }
                #knapp:hover {
                    border-color: black;
                }
                 #minprof {
                    top:8%;
                    left:92%;
                    width:100px;
                    height:45px;
                    position: absolute; 
                    z-index: 2;                    
                 }                            
              .border-bottom {                  
                    padding: 3%;                  
                    }
               .box-shadow {
                    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
               }
                #meny {
                    width: 100%;
                    font-size: large;
                }

                #meny:hover {
                   text-decoration: underline grey;
                }

                #nordic {
                    margin-left: 44%; /* css til Nordicdoor */
                    position: absolute;
                    font-size: medium;
                    bottom: 70%;
                }

                #nordic:hover {
                    text-decoration: underline grey;
                }
               
                #minprof:hover {
                    text-decoration: underline grey; /* css til minprofil knapp */
                }
                .gridIcon{
                    height: 20px;
                    width: 20px;
                    opacity: 0.8;
                    margin-right: 8px;
                    margin-bottom: 4px;
                } 
                .statiIcon{
                    height: 15px;
                    width: 15px;
                    margin-left: 40px;
                    opacity: 0.6;
                    margin-right: 8px;
                    margin-bottom: 4px;
                } 
                
        </style>
        
        
        <nav  class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a id="meny" class="nav-link text-dark" asp-area="" asp-controller="Suggestions" asp-action="AllSug">
                                <img class="gridIcon" src="https://www.pngrepo.com/png/379439/512/grid.png">
                                Alle forslag
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="meny" class="nav-link text-dark" asp-area="" asp-controller="Stat" asp-action="ViewStatEmpEx">
                                <img class="statiIcon" src="https://icon-library.com/images/statistics-icon-png/statistics-icon-png-1.jpg"> 
                                Statistikk
                            </a>
                        </li>
                        <a id="nordic" class="navbar-brand" asp-area="" asp-controller="Suggestions" asp-action="AllSug">NordicDoor</a> 
                <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                        </li> 
                        <li >
                            <a id="minprof" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MinProf">Min profil</a>
                        </li>
                        <li class="nav-item">
                            <button id="knapp" ><a class="nav-link text-dark" asp-area="" asp-controller="suggestions" asp-action="AddSug">Send inn forslag</a></button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody() <!--rendrer views som controller returnerer -->
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - NordicDoor - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


    
</body>
</html>